<div>
  <h1>Basic Pipes</h1>
  <p>included pipes in angular, usually located in common module!</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="uppercase" [subheader]="nameLower | uppercase">{{
      nameLower | uppercase
    }}</p-card>
  </div>
  <div class="col-4">
    <p-card header="lowercase" [subheader]="nameUpper | lowercase">{{
      nameUpper | lowercase
    }}</p-card>
  </div>
  <div class="col-4">
    <p-card header="titleCase" [subheader]="nameTitle | titlecase">{{
      nameTitle | titlecase
    }}</p-card>
  </div>
</div>

<div>
  <h1>Date Pipe</h1>
  <p>to show date formats!</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card
      ><ul>
        <li>normal javascript date =></li>
        <li>piped date =></li>
        <p-divider type="dashed"></p-divider>

        <li>piped date with arguments: short =></li>
        <li>piped date with arguments: medium =></li>
        <li>piped date with arguments: long =></li>
      </ul></p-card
    >
  </div>
  <div class="col-6">
    <p-card
      ><ul>
        <li>{{ date }}</li>
        <li>{{ date | date }}</li>
        <p-divider type="dashed"></p-divider>

        <li>{{ date | date : "short" }}</li>
        <li>{{ date | date : "medium" }}</li>
        <li>{{ date | date : "long" }}</li>
      </ul></p-card
    >
  </div>

  <div class="col-2">
    <p-card subheader="Piped formatted date:"
      ><ul>
        <li>{{ date | date : "EEE dd MMMM YYYY " }}</li>
      </ul></p-card
    >
  </div>
</div>
